@page
@model SessionTestModel

<h1> Session Test</h1>

<p> Session counter value: <strong>@Model.Counter</strong></p>

<p>
    Refresh the page within 10 seconds: the number should increase.<br/>
    wait more than 10 seconds and refresh: it should reset
</p>