Noav <noav@itu.dk> OfficialChutney <noav@itu.dk>
aoldin <alfredsoldin@gmail.com> aold <aold@itu.dk>
Peter Raasthøj <praa@itu.dk> Peter Raasthøj <peterfut123@gmail.com>
gilbert400 <alfd@itu.dk>
Yasmin Josefine Nielsen <122010598+Y23n@users.noreply.github.com>

LLM <none> Claude
LLM <none> ChatGPT

//People who worked only on original Chirp
Andreas John-Holaus <andjo@itu.dk> UngBalle2501 <andjo@itu.dk>
Philip Quorning <phqu@itu.dk> Quorning-DK <philip.quorning@live.com>
Sowzzg <25640743+SowzzG@users.noreply.github.com>


